@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }
  .header .logo {
    margin-left: 60px;
    margin-right: 20px;
  }
  .burger {
    display: flex;
  }
  .header input:checked ~ .nav {
    display: flex;
    flex-direction: column;
    height: 25vh;
  }
  .nav a {
    flex-basis: 50px;
  }
  .sidebar {
    display: none;
  }
  .content {
    margin: 10px 5px 20px 5px;
  }
}
