* {
    margin: 0;
    padding: 0;
}
.container {
    height: 60px;
    width: auto;
    border: solid 1px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.but {
    position: absolute;
    bottom: 10px;
    display: block;
    border: 0;
    border-radius: 5px;
    background: #888888;
    padding: 5px 15px;
    font-size: 1.2em;
}
.but:hover {
    background: #777777;
    color: #252525;
}
.bun:focus {
    box-shadow: 0 0 0 2px #cbd6ee;
}
/*Modal*/
.modalbackground {
    margin: 0; /* убираем отступы */
    padding: 0; /* убираем отступы */
    position: fixed; /* фиксируем положение */
    top:0; /* растягиваем блок по всему экрану */
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
    z-index:100; /* выводим фон поверх всех слоев на странице браузера */
    opacity:0; /* Делаем невидимым */
    pointer-events: none; /* элемент невидим для событий мыши */
}   
/* ширина диалогового окна и его отступы от экрана */
.modalwindow {
    position: relative;
    max-width: 300px;
    margin: 10% auto;
    padding: 1%;
    background: #c9c9c9;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
}
/* настройка заголовка */
.modalwindow h3 {
    margin: 20px;
    text-align: center;
    padding: 0;
}
.close {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 0;
    border-radius: 50%;
    background: #888888;
    padding: 5px 10px;
    font-size: 16px;
    float: right;
}
.close:hover {
    background: #777777;
    font-weight: bold;
}
.close:focus {
    box-shadow: 0 0 0 1px blue;
}