* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Muli', sans-serif;
}
.header {
  height: 60px;
  background: #222;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.5em;
}
.header a {
  text-decoration: none;
  color: #ecf8fc;
  display: block;
  float: left;
}
.header .logo {
  font-size: 2em;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-left: 100px;
  margin-right: 200px;
}
.header .user-ava {
  float: right;
  height: 30px;
  width: 30px;
  padding: 15px;
}
.header .user-ava img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.header .user-nav, .header .user-nav-ava {
  height: 60px;
  text-align: center;
  line-height: 60px;
  float: right;
  margin-right: 10px;
  transition-duration: 0.5s;
  font-size: 0.8em;
}
.header .user-nav:hover, .header .user-nav-ava:hover {
  color: #bf9bf9;
}
.nav {
  position: relative;
  height: 30px;
  width: 100%;
  background: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  margin-right: 60px;
  transition-duration: 0.5s;
}
.nav a:hover {
  color: #bf9bf9;
}
.burger {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.burger .line {
  display: block;
  background: white;
  height: 2px;
  width: 100%;
}
.header input {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
  z-index: 5;
}
.header input:checked ~ .burger .line1 {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  width: 40px;
}
.header input:checked ~ .burger .line3 {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
  width: 40px;
}
.header input:checked ~ .burger .line2 {
  opacity: 0;
}
.burger {
  display: none;
}
.container {
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.sidebar {
  float: left;
  width: 20%;
  padding: 5px;
  margin: 10px 10px 20px 5px;
  line-height: 2;
  font-size: 1.2em;
}
.sidebar a {
  text-decoration: none;
}
.content {
  margin: 10px 5px 20px 25%;
  padding: 5px;
}
.post {
  border-bottom: .05rem solid #e5e5e5;
}
.post-data {
  margin-bottom: 1.25em;
  color: #727272;
}
.post h2 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5em;
  padding: 5px;
  margin-top: 10px;
}
.post .post-links {
  margin-bottom: 5px;
}
.footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
